@use "../../assets/variable.scss" as v;

.TreasureHuntPage {
  .TreasureHuntPage_ImageContainer {
    height: 300px;
    width: 100%;
    background-image: url("../../assets/images/homepageimg.png");
    background-size: cover;
  }
  .TreasureHuntPage_ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: v.$brown;
    padding: 30px;
  }
  .TreasureHuntPage_ContentContainer_Header {
    font-size: v.$h2;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
