@import "../../assets/variable.scss";

.ProfilePage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_Interaction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    width: 100%;
    padding-bottom: 20px;
    margin-top: -1px;
    &_Button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      color: $brown;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      border: none;
      background-color: transparent;
      &:focus {
        border: none;
        outline: none;
      }
    }
    &_Button_Active {
      color: $orange !important;
    }
  }
}
