@use "../../../assets/variable.scss" as v;

.input_container {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: calc(100%);
  justify-content: center;
  background-color: v.$white;
  border-radius: 40px;
  gap: 10px;
  align-items: center;

  input {
    display: flex;
    flex: 1;
    border-radius: 40px;
    background-color: transparent;
    height: 100%;
    color: v.$brown;
    padding: 14px 30px;
    outline: none;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }

    &::placeholder {
      color: v.$grey;
    }
  }

  .input_icon_container {
    width: 20px;
    height: 20px;
    padding-right: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: v.$greenFilter;
    }
  }
}
