@import "../../../assets/variable.scss";

.Navbar_Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  height: 90px;
  background-color: #fff;
  flex: 1;
  width: calc(100% - 24px);
  z-index: 100;
  max-width: calc(768px - 24px);
  max-height: 90px;
  position: fixed;
  bottom: 0;
  .Navbar_Link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $brown;
    text-decoration: none;
    gap: 6px;
    flex: 1;
    background-color: transparent;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
      border: none;
    }

    .Navbar_Link_Icon_Container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .Navbar_Link_Icon {
        height: 24px;
        width: 24px;
        filter: $brownFilter;
      }
    }
    .Navbar_Link_Text {
      color: $brown;
      padding: 0;
      margin: 0;
    }
  }
  .Navbar_Link_Active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $brown;
    text-decoration: none;
    gap: 6px;
    flex: 1;
    .Navbar_Link_Icon_Container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .Navbar_Link_Icon {
        filter: $orangeFilter;
      }
    }
    .Navbar_Link_Text {
      color: $orange;
      padding: 0;
      margin: 0;
    }
  }
}
