@use "../../../assets/variable.scss" as v;

.TreasureHunt {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  color: v.$brown;

  .TreasureHunt_Container {
    .TreasureHunt_ImageContainer {
      background-image: url("../../../assets//images/homepageimg.png");
      background-size: 100% 115%;
      background-repeat: no-repeat;
      background-position:bottom;
      border-radius: 24px;
      width: 320px;
      height: 210px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .TreasureHunt_InfoContainer {
      display: flex;
      background-color: v.$lightGreen;
      color: v.$brown;
      border-radius: inherit;

      padding: 10px 10px;
      width: 85%;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
