@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// color variables
//button + header
$green: #125f31;
// CtA color
$orange: #fd8721;
// background
$lightGreen: #e5ede8;
$beige: #fff9e8;
// text
$brown: #371d07;
// unknown
$yellow: #ffd449;

// icon variables
// orange filter
$orangeFilter: invert(76%) sepia(52%) saturate(5505%) hue-rotate(345deg)
  brightness(101%) contrast(98%);
$brownFilter: invert(10%) sepia(11%) saturate(7489%) hue-rotate(4deg)
  brightness(99%) contrast(95%);

// fonts
//default font
$defFont: "Montserrat", sans-serif;
//font size
$h1: 24px;
$h2: 20px;
$h3: 18px;
$regular: 16px;
$small: 14px;
$nav: 13px;
