@use "../../../assets/variable.scss" as v;

button {
    background-color: v.$green;
    font-size: v.$regular;
    border-radius: 100px;
    padding: 12px 42px;
    border-width: 2px;
    border-color: v.$green;
    border-style: solid;
}

//style
.orange {
    background-color: v.$orange;
    border-color: v.$orange;
}

.white {
    background-color: white;
    color: v.$green;
}

//size
.small {
    font-size: v.$small;
    padding: 8px 42px;
}

.large {
    width: 100%;
}